<h1>Listing search results</h1>
<table>
	<thead>
		<tr>
			<th>Id</th>
			<th>Name</th>
			<th>CCB Id</th>
			<th>Email</th>
		</tr>
	</thead>

	<tbody>
		<% @results.each do |person| %>
		<tr>
			<td><%= person.id %></td>
			<td><%= person.first_name + ' ' + person.last_name %></td>
			<td><%= person.ccb_id %></td>
			<td><%= person.email %></td>
		</tr>
		<% end %>
	</tbody>
</table>

<br />

<%= link_to "Add to local database", add_local_search_path %><br />
<%= link_to "Return to searches", searches_path %>
