<h1>Saved Search Listing</h1>

<table>
	<thead>
		<tr>
			<th>Id</th>
			<th>Name</th>
			<th>CCB ID</th>
			<th></th>
			<th></th>
			<th></th>
		</tr>
	</thead>
	<tbody>
	<% @searches.each do |search| %>
	<tr>
		<td><%= search.id %></td>
		<td><%= search.name %></td>
		<td><%= search.ccb_id %></td>
		<td><%= link_to 'Show', search %></td>
		<td><%= link_to 'Edit', edit_search_path(search) %></td>
		<td><%= link_to 'Destroy', search, :confirm => 'Are you sure?', :method => :delete %></td>
	</tr>
	<% end %>
</tbody>
</table>

<br />

<%= link_to 'New Search', new_search_path %><br />

<%= link_to 'Import from CCB', import_searches_path %>
